html {
    font-size: 16px;
    line-height: 1.25;
}

head {
    text-transform: capitalize;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #5f456b;
}

header h1 {
    color: lightgray;
}

body {
    font-family:  "Oxygen", "Arial", sans-serif;
    font-weight: 400;
    background-color: #5f456b;
}

nav {
    float: left;
    padding-left: 10px;
    overflow: auto;
    height: 100%;
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

li a {
    font-family:  "Oxygen", "Arial", sans-serif;
    text-align: center;
    display: block;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px;
    padding: 10px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

li a:hover {
    background-color: darkgrey;
}

a {
    color: rgba(65, 65, 65, 100%);
    text-decoration: none;
}

article {
    float: left;
    background-color: lightgray;
    width: 550px;
    margin-left: 215px;
    padding-left: 50px;
    padding-right: 100%;
}

h1 {
    font-family: "Oxygen", "Arial", sans-serif;
    font-weight: 700;
    color: #5f456b;
}

h2 {
    font-family: "Oxygen", "Arial", sans-serif;
    font-weight: 400;
    color: #5f456b;
}

h3 {
    font-family: "PT-Sans-Narrow" "Courier", sans-serif;
    font-weight: 700;
    color: #5f456b;
}

figure {
    display: inline-block;
    margin-left: 0;
    margin-right: 700px;
}

figcaption {
    text-align: center;
    padding-bottom: 20px;
}

form {
    border-style: solid;
    border-color: #5f456b;
    border-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 500px
}

input[name=message] {
    height: 200px;
}

input[type=submit] {
    font-family:  "Oxygen", "Arial", sans-serif;
    text-align: center;
    display: block;
    border-radius: 10px;
    background-color: #5f456b;
    box-shadow: 5px 5px;
    padding: 10px 20px;
    margin-top: 20px;
    color: lightgray;
}

footer {
    float: left;
    background-color: #5f456b;
    font-weight: 200;
    color: lightgray;
    text-align: center;
    padding: 20px;
    width: 100%;
}
