html {
    font-size: 16px;
    line-height: 1.25;
}

.content {
    margin: auto;
}

head {
    text-transform: capitalize;
}

header {
    float: left;
    text-align: center;
    background-color: #5f456b;
    padding: 20px;
    width: 900px;
}

header h1 {
    color: lightgray;
}

body {
    font-family:  "Oxygen", "Arial", sans-serif;
    margin: auto;
    background-color: darkgrey;
    font-weight: 400;
    width: 900px;
}

nav {
    float: left;
    overflow: auto;
    position: fixed;
    background-color: #5f456b;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 56px;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

li a {
    font-family:  "Oxygen", "Arial", sans-serif;
    text-align: center;
    display: block;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding: 10px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

li a:hover {
    background-color: darkgrey;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

article {
    float: left;
    background-color: lightgray;
    width: 550px;
    margin-left: 215px;
    padding-left: 50px;
    padding-right: 125px;
}

h1 {
    font-family: "Oxygen", "Arial", sans-serif;
    color: #5f456b;
    font-weight: 700;
}

h2 {
    font-family: "Oxygen", "Arial", sans-serif;
    color: #5f456b;
    font-weight: 400;
}

h3 {
    font-family: "PT-Sans-Narrow" "Courier", sans-serif;
    color: #5f456b;
    font-weight: 700;
}

hr {
    border-style: solid;
    border-color: #5f456b;
    display: block;
    margin-top: 70px;
}


figure {
    display: inline-block;
    margin-left: 0px;
    margin: 0px;
}

figcaption {
    text-align: center;
    padding-bottom: 20px;
}

img {
    margin-top: 20px;
}

.kaciepic {
    margin-top: 45px;
}

.hippocornlogo {
    border-style: solid;
    border-color: #5f456b;
    display: block;
    border-width: 1px;
    margin: 0px;
    margin-left: 85px;
    margin-right: 85px;
}

form {
    border-style: solid;
    border-color: #5f456b;
    display: block;
    border-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 70px;
    margin-bottom: 30px;
}

input[type=text] {
    width: 500px
}

textarea {
    height: 200px;
    width: 500px;
}

input[type=submit] {
    font-family:  "Oxygen", "Arial", sans-serif;
    text-align: center;
    display: block;
    background-color: #5f456b;
    color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

footer {
    float: left;
    background-color: #5f456b;
    text-align: center;
    color: lightgray;
    font-weight: 200;
    padding: 20px;
    width: 100%;
}
